.ingredientsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    display: flex;
    flex-direction: column; 
    height: 85vh;        
}

.ingredientsDisplay {
    flex-grow: 1;          
    overflow-y: auto;      
    padding: 16px;         
    box-sizing: border-box;

    scrollbar-width: thin;      
    scrollbar-color: #8585AD #2F2F37;
}